* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #050505;
  overflow: hidden;
  font-family: Arial, sans-serif;
  touch-action: none;
}

#game {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;

  background:
    radial-gradient(circle at center, #191919 0%, #050505 70%);
}

#hud {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;

  z-index: 20;

  display: flex;
  justify-content: space-between;

  color: white;
  font-size: 20px;
  font-weight: bold;
}

#player {
  width: 45px;
  height: 45px;

  position: absolute;

  transform: translate(-50%, -50%);

  background: #111;
  border: 3px solid #00ff88;
  border-radius: 50%;

  box-shadow:
    0 0 10px #00ff88,
    0 0 25px #00ff88;

  z-index: 10;
}

/* ENEMY */

.enemy {
  width: 40px;
  height: 40px;

  position: absolute;

  transform: translate(-50%, -50%);

  background: #210000;

  border: 3px solid #ff3030;

  border-radius: 50%;

  box-shadow:
    0 0 10px #ff0000,
    0 0 25px #ff0000;

  z-index: 5;
}

/* ATTACK BUTTON */

#attackButton {
  position: absolute;

  right: 30px;
  bottom: 30px;

  width: 80px;
  height: 80px;

  border-radius: 50%;
  border: 3px solid #ffffff;

  background: #111;
  color: white;

  font-size: 32px;

  cursor: pointer;

  z-index: 30;

  box-shadow:
    0 0 10px #ffffff,
    0 0 25px #ff3030;
}

#attackButton:active {
  transform: scale(0.9);
}
